.tweet {
  display: flex;
  list-style: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--main-border-color);
}

.tweet:hover {
  background-color: var(--shade-color);
}

.tweet__profile {
  padding: 0.2rem;
}

.tweet__profile > img {
  display: inline-block;
  width: 50px;
  border-radius: 100%;
}

.tweet__content {
  flex: 1 0 0;
}

.tweet__userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet__userInfo--wrapper {
  display: flex;
}

.tweet__userInfo--wrapper > .tweet__username {
  display: inline-block;
  color: var(--bold-text-color);
  font-weight: 700;
  margin-left: 0.5rem;
}

.tweet__userInfo--wrapper > .tweet__createdAt {
  display: inline-block;
  color: var(--sub-text-color);
  margin-left: 0.5rem;
}

.tweet__deleteButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4000c7;
  margin-left: 14rem;
  text-align: center;
}

.tweet__deleteButton > span {
  color: white;
  font-weight: 1000;
  cursor: pointer;
}

.tweet__message {
  padding: 0.5rem;
}
